/* 搜索框 */
#formOfSearch{
    margin-top: 10px;
}
#formOfSearch .form-group{
    margin-bottom: 0;
}
#formOfSearch .form-group .col-md-1  label{
    font-size: 27px;
    padding: 0;
}
#formOfSearch .form-group .col-md-2 button{
    width: 100%;
}

/* 排序按钮组 */
#rank{
    margin-top: 27px;
}

.hotWorks{
    margin-bottom: 25px;
}

.jumbotron {
    margin-top: 30px;
}
.jumbotron .container p.text-center{
    padding: 100px 0;
}