.shoppingCart{
    margin-bottom: 25px;
}

.shoppingCart .purchase{
    width: 60%;
}
.shoppingCart .panel .panel-body .highLight{
    font-size: 17px;
    margin: 7px 0 0 0;
}

#cartWorks .cartImg{
    width: 200px;
    height: 200px;
}

#cartWorks .btn-group{
    margin-top: 160px;
}