#formOfSearch{
    margin-top: 22px;
}
#work{
    margin-bottom: 25px;
}
h3[class="panel-heading"]{
    margin: 0;
    font-size: 1.2em;/*大小和h4一样的h3*/
}
li[class="list-group-item"]{
    border: none;/*去除了下边框的列表组*/
}