/* 不同页面使用不同样式表便于查找和修改 */
/* 某些公用样式放在 公用.css 中 */

body {
    overflow-x: hidden;
}
.self-container{
    width: 1160px;
    margin: 0 auto 0 auto;
}

#newestWorks{
    margin: 50px 0 50px 0;
}

/* 自定义滚动屏 */
section.self-scrollScreen{
    width: 1519px;
    height: 725px;
    margin: 0 auto;
}
section.self-scrollScreen img{
    width: 1519px;
    height: 725px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s linear;
}
section.self-scrollScreen .self-details{
    width: 700px;
    position: absolute;
    top: 520px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* 以上三行使absolute元素水平居中 */
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    text-align: center;
}
section.self-scrollScreen .self-details button{
    color: white;
    background-color: rgba(255,255,255,0);
    margin-top: 4px;
    transition: all 0.5s;
}
section.self-scrollScreen .self-details button:hover{
    background-color: rgba(255,255,255,0.39);
}
section.self-scrollScreen .self-details a{
    color: white;
    text-decoration: none;
}
section.self-scrollScreen .onShow{
    opacity: 1;
}
/* 自定义滚动屏-圆形按钮组 */
section.self-scrollScreen .self-iconButton{
    text-align: center;/* 可以使按钮居中 */
    position: absolute;
    top: 700px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
section.self-scrollScreen .self-iconButton button{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    outline: none;/*取消点击时的蓝色边框*/
    margin-left: 7px;
    margin-right: 7px;
    background-color: white;
    border:none;
}
section.self-scrollScreen .self-iconButton button.active{
    background-color: rgb(128,128,128);
}
section.self-scrollScreen .self-iconButton button:active{
    transform: translateY(4px);
}